:root {
    --xlarge: 170px;
    --large: 28px;
    --medium: 18px;
    --small: 16px;
    --xsmall: 14px;
    --xxsmall: 10px;
}

body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url('https://source.unsplash.com/user/hbin12212/likes');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

#main-container .main-wrapper {
    text-align: center;
}

/* 시계 */
.main-wrapper #today-date {
    font-size: var(--large);
    font-weight: 400;
}
.main-wrapper #now-time {
    font-size: var(--xlarge);
    font-weight: 400;
    margin-top: -35px;
}

/* 검색 */
.main-wrapper .search {
    display: flex;
    justify-content: center;
}
.main-wrapper #search-input {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    text-align: center;
    margin-top: -10px;
}
.main-wrapper #search-input::placeholder {
    color: rgb(169, 169, 169);
    font-size: var(--medium);
}

/* 명언 */
#quote {
    font-size: var(--small);
    position: fixed;
    bottom: 0;
    max-width: 800px;
    padding: 0 10px;
    margin-bottom: 20px;
    font-weight: 300;
    text-align: center;
}

/* 북마크 바 열고 닫기*/
.bookmark-btn {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--xsmall);
    height: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.bookmark-btn.close {
    background-color: rgba(0, 0, 0, 0.5);
}

.bookmark-btn.open {
    background-color: rgba(0, 0, 0, 0);
}

.bookmark-btn div {
    cursor: pointer;
}

#bookmark-bar {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}

/* 북마크 아이템 추가 버튼*/
#bookmark-item-add-btn {
    padding: 10px;
    font-size: var(--small);
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    margin-bottom: 35px;
    margin-top: 10px;
}

.bookmark-item-add-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 북마크 아이템 추가 폼*/
#bookmark-item-input-form {
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    font-size: var(--small);
    border-radius: 5px;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bookmark-item-input-form .bookmark-input-wrapper {
    margin-bottom: 12px;
}

#bookmark-item-input-form .bookmark-input-wrapper .label {
    margin-bottom: 3px;
    font-size: var(--xsmall);
}

#bookmark-item-input-form .bookmark-input-wrapper input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

#bookmark-item-input-form .bookmark-item-input-btn {
    display: flex;
    justify-content: space-between;
    font-size: var(--xsmall);
    margin-top: 5px;
}

.bookmark-item-input-btn .button {
    padding: 5px 35px;
    border-radius: 5px;
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    cursor: pointer;
}

.bookmark-item-input-btn div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 북마크 리스트 */
#bookmark-list a {
    display: flex;
    color: white;
    text-decoration: none;
}

#bookmark-list .url-icon {
    margin-right: 8px;
}

.url-icon img {
    vertical-align: middle;
}

/* 북마크 아이템 */
#bookmark-list .bookmark-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(241, 241, 241, 0.2) 0.5px solid;
    font-size: var(--small);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-item .del-btn {
    font-size: var(--xxsmall);
    color: lightgray;
    vertical-align: middle;
    cursor: pointer;
}
